:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;  /*1 rem = 10px*/
    font-family: 'Source Sans Pro', sans-serif;

    /*fondo con degradado*/
    /*para este ejemplo*/
    /* propiedad: tipo de propiedad(direccion, color inferior - porcentaje de color en pagina, color superior - porcentaje de color en pagina) */
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.5);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.5);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.5);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
}

/*Contenedor*/
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/*Navegacion*/
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    /*aplicacion de pseudoclase*/
    background-color: var(--primario);
    color: var(--negro);
}

/*Hero*/
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-bottom: 2rem;

    /*posicion relativa para funcione en el elemento hijo*/
    /*si no se realiza este proceso, tomara como padre el documento y no elemento */
    position: relative;
}

.hero-contenido {
    /*posicion absoluta para que funcione con elemento padre*/
    position: absolute;

    /*aplicacion de sombra*/
    /*sintaxis anterior*/
    background-color: rgba(0, 0, 0, .7);

    /*sintaxis nueva*/
    background-color: rgb(0 0 0 / 70%);

    width: 100%;
    height: 100%;

    /*tipo de display*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-contenido h2,
.hero-contenido p {
    color: var(--blanco);
}

.hero-ubicacion {
    display: flex;
    align-items: flex-end;
}

/*Boton*/
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 1rem;
    width: 90%;
    text-align: center;
}

@media(min-width: 768px) {
    .boton {
        width: auto;
    }
}

/*Servicios*/
@media(min-width: 768px) {
    .servicios{
        /*ver video 43 del curso para entender mejor en caso de dudas*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);   
        column-gap: 1rem;
    }    
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: bold;
}

.servicio p{
    line-height: 2;
}

.iconos{
    background-color: gainsboro;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Contacto*/
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /*utiliza el valor mas pequeño segun el tamaño de la pantalla*/
    margin: 0 auto; /*se aplica si el padre no es un display flex o grid, que en este caso deberia de estar en section*/
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

.campos{

}

.campo{
    
}

