/* la paleta de colores se declara normalmente al inicio del css */
/* ( :root ) los dos puntos hacen referencia a que es un pseudoselector, el cual no se utilizara en html 
             root es el nombre asignado a la propiedad */

:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
}


html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
}

/*selector con especificidad alta combinacion etiqueta-clase-etiqueta*/
h1.titulo span{
    font-size: 2rem;
    color: blue;
}

/*selector con especificidad media con combinacion clase-etiqueta*/
.titulo span{
    font-size: 2rem;
    color: red;
}

/*
selector con especificidad debil debido a que tiene solo una etiqueta
span{
    color: green;
}
*/

/*selector con especificidad muy alta debido a que tiene la bandera important*/
/*no se recomienda utilizar*/
span{
    font-size: 2rem;
    color: green!important;
}
